body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
  .joined{
    text-align: center;
    margin: 5px;
    background-color: #d09dff;
    font-family: 'Permanent Marker', cursive;
  }
  #ttt{
      width: 100vw;
      height: 100vh;
      position: relative;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }
  #ttt::before{
      content: "";
      background: url(bck.png) center center/cover ;
      
      width: 120%;
      height: 100%;
      position: absolute;
      z-index: -1;
      background-repeat: no-repeat;
      opacity: 0.8;
  }
  .heading{
      background-color: black;
      color: cyan;
      border: 3px solid white;
      padding: 20px;
      width: 250px;
      font-size: 2.5rem;
      text-align: center;
      border-radius: 100px;
      font-family: 'Permanent Marker', cursive;;
  }
  .heading:hover{
      animation: round 1s infinite linear ;
  
  }
  @keyframes round{
      0%{
          transform: rotate(0deg);
      }
      100%{
          transform: rotate(360deg);
      }
  }
  
  
  #body{
      display: grid;
      width: 300px;
      grid-template-columns: 1fr 1fr 1fr;
      margin: auto;
      margin-top: 25vh;
      grid-row-gap: 5px;
      grid-column-gap: 7px;
  }
  .container{
      
      border: 1px solid crimson;
      height: 100px;
      border-radius: 30px;
      border: 3px solid white;
      transition: all 1s ease-in-out;
  }
  .container:hover{
      cursor: pointer;
      background-color: black;
      color: cyan;
      border-radius: 300px;
     border: 3px solid cyan;
  
  }
  .xsymbol{
      font-size: 3rem;
      margin-top: 3vh;
      text-align: center;
      color: red;
      transition: all 1s ease-in-out; 
  }
  .xsymbol:hover{
      color: cyan;
  }
   
   .corner{
     background-color: #48fb48;
   }
   .middle{
       background-color: #dab2ff;
   }
   .center{
       background-color: #21ffff;
   }